* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/***
HEADER
***/

header {
    background-color: #2C3E50;
}

.ms-container {
    margin: 0 auto;
    width: 60%;
}

.navbar-nav .nav-link {
    color: white;
}

.navbar-brand {
    color: white;
}

/***
JUMBO
***/

#jumbo {
    background-color: #21BC9C;
    text-align: center;
    color: white;
    padding: 30px 0;
}

/***
Portfolio
***/

#portfolio {
    text-align: center;
    margin: 20px 0;
}

.card{
    min-height: 100px;
    border-radius: 12px;
    margin: 10px 0;
    padding: 20px;
}

.house {
    background-color: #BA4B63;
}

.cake {
    background-color: #1FA4B6;
}

.tent {
    background-color: #130F0F;
}

.game{
    background-color: #1C83C1;
}

.money {
    background-color: #1338B5;
}

.sub {
    background-color: #CCB2A3;
}

/***
ABOUT  US
***/

#about {
    background-color: #21BC9C;
    margin: 30px 0;
    padding: 30px 0;
    color: white;
}

#about h2{
    text-align: center;
    padding: 20px 0;
}

#about button{
    color: white;
    border-color: white;
    align-items: center;
}


